<div class="wrapper">
  <div class="track">
    <div class="carousel">
      <img src="../images/carousel/bball.jpg" />
    </div>
    <div class="carousel">
      <img src="../images/carousel/tennis.jpg" />
    </div>
    <div class="carousel">
      <img src="../images/carousel/fball.jpg" />
    </div>
    <div class="carousel">
      <img src="../images/carousel/badmint.jpg" />
    </div>
    <div class="carousel">
      <img src="../images/carousel/hockey.jpg" />
    </div>
    <div class="carousel">
      <img src="../images/carousel/walkin.jpg" />
    </div>
  </div>
</div>
<h3>
  Gear Up! is your go-to place for all things equipment rental <br />
  click the button below to see what we have to offer!
</h3>
<a id="proceed-to-booking" href="/booking" class="move-to-booking"
  >Check it out</a
>