<div class="page-footer-icon-group">
  <!-- Instagram Icon and Link -->
  <a href="https://instagram.com/gertie.the.greyhound" target="_blank" class="page-footer-icon">
    <img src="/images/icons/insta.png" alt="Instagram" />
  </a>
  <!-- Linkedin Icon and Link -->
  <a href="https://linkedin.com/in/ryanbeckbsc" target="_blank" class="page-footer-icon">
    <img src="/images/icons/linkedin.png" alt="LinkedIn" />
  </a>
</div>
<p class="page-footer-p">&copy; Ryan Beck, 2024</p>
