<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=yes"
/>
<title><%= title || "Gear Up!" %></title>
<link rel="icon" href="/images/favicon.ico" />
<link rel="stylesheet" href="/css/styles.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>
<!-- Flatpickr calendar call for styling and function -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/data/equipment-info.js" defer></script>
